body{
  background: #DCDCDC;
}

.img-perfil {
  max-width: 100%;
  border-radius: 4px;
  border: 3px solid #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

h2 li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
}

.sub-titulo {
  line-height: 30px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  display: inline-block;
  background: #000;
  color: #ffff;
  border: 1px solid #ffff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 2px;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #070d12;
}

*::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 20px;
  border: 3px solid #070d12;
}